/.github/
/apps/
/build/
/docs/
/eadk/
/escher/
/ion/
/kandinsky/
/liba/
/libaxx/
/omg/
/output/
/poincare/
/python/
/quiz/
/tests/
/.clang-format
/.gitmodules
/.tools-versions
/Makefile
.gradle/
.venv/
__pycache__
.vscode/
